@import "bootstrap-sprockets";
@import "bootstrap";

body {
    font-family: 'Roboto', sans-serif;
    background: #DCDCDC;
}

.navbar {
    background: #B7312C;
    margin-bottom: 0px;
}
nav 
{
    height: 53px;
    a{
        color: #DCDCDC;
        font-size: 20px;
    }
    a:hover{
        background-color: #eeeeee;
    }
}

.nav-item{
    cursor: pointer;
}
.nav-item:hover {
    color: #B7312C;
}
/*
.navbar-brand {
    color: #f4f4f4;
    
}

.nav-link {
    margin-right: 1em !important;
}



.navbar-collapse {
    justify-content: flex-end;
}*/
/*
.navbar-toggler {
    background: #f4f4f4 !important;
}
*/
.cont-flash-messages{
    position: absolute;
    top: 53px;
    right: 0;
}
.btn {
    border: 1px solid #B7312C;
    background: #B7312C;
    color: #f4f4f4;
}

.section {
    background-image: url('https://images.unsplash.com/1/type-away.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 53px);
}
.card{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card-header{
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
}

.title_h h1 {
    color: #B7312C;
    position: relative;
    margin: auto;
    padding: 1em;
    font-size: 50px;
    font-weight: 700;
}

.r_list {
    position: relative;
    top: 30%;
}

.r_list h4 {
    color: #10828C;
    font-size: 20px;
    font-weight: 700;
}
h4 {
    color: #10828C;
    font-size: 20px;
    font-weight: 700;
    text-align: center; 
}
.r_list ul li {
    color: #333333;
}

.r_list .card {
    box-shadow: 0 0 20px #ccc;
}

.r_list .card-body {
    padding: 1em;
}

.list_button{
    display: flex;
    justify-content: space-between;
}
.user-item{
    border: 2px solid #B7312C;
    margin: 2px;
    margin-top:4px;
    font-size: 20px;
}
.user-item:hover{
    cursor: pointer;
}
.txt-center{
    text-align: center;
}